@use '@/styles/mixins' as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.container {
  @include flex-column-center;

  flex-grow: 1;
  gap: 50px;
  width: 100%;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0, 0, 0, 0);
}
