.header {
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;

  a {
    font-size: 20px;
    font-weight: 500;
    color: inherit;
    color: rgb(85 85 85);
    text-decoration: none;
  }

  .active {
    color: black;
    text-decoration: underline;
  }
}
